<ion-content padding class="themelogin_background">
	<div class="jp_login_wrapper">
		<div class="jp_login_inner_wrapper">
			<div class="jp_logo">
				<img src="assets/img/jp_logo.png">
			</div>
			<div class="jp_sign_form">
				<div class="jp_sign_row">
					<input class="jp_sign_input" placeholder="Username">
				</div>
				<div class="jp_sign_row">
					<input class="jp_sign_input" placeholder="Password">
				</div>
					<button ion-button class="jp_login_btn" (click)="open_page('HomePage')">LOGIN</button>
			</div>
		</div>
	</div>
</ion-content>
