<ion-header class="nav_header theme_bgcolor">
  <button ion-button menuToggle class="nav_btn floatLeft nav_menu"></button>
  <div class="nav_header_title floatLeft">
    TRIP
  </div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>
<ion-content padding>
  <div class="jp_home_wrapper">
    <div class="jp_bus_banner">
      <h5>ORANGE TOURS</h5>
      <p>i-Shift Volvo Multi Axle (2+2) Sleeper</p>
    </div>
    <div class="jp_bus_schedule">
      <div class="jp_schedule_child floatLeft jp_schedule_child_border">
        <h6>TRIP START TIME</h6>
        <h4>Thursday, 21th</h4>
        <p>09:00 am</p>
      </div>
      <div class="jp_schedule_child floatLeft">
        <h6>TRIP END TIME</h6>
        <h4>Friday, 22th</h4>
        <p>10:32 am</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="jp_bus_travel_points">
      <li class="start">
        <p>BOARDING</p>
        <h4>Koramangala, Bengaluru</h4>
      </li>
      <li class="destination">
        <p>DROPPING</p>
        <h4>Panvel, Raigad</h4>
      </li>
    </div>
    <div class="jp_seating_status">
      <ion-grid class="p0">
        <ion-row>
          <ion-col class="p0 textCenter">
            <div class="jp_seat_box">
              <img src="assets/img/jp_seat_total.png">
              <h5>TOTAL</h5>
              <p>45</p>
            </div>
          </ion-col>
          <ion-col class="textCenter pt0">
            <div class="jp_seat_box">
              <img src="assets/img/jp_seat_booked.png">
              <h5>BOOKED</h5>
              <p>38</p>
            </div>
          </ion-col>
          <ion-col class="p0 textCenter">
            <div class="jp_seat_box">
              <img src="assets/img/jp_seat_available.png">
              <h5>AVAILABLE</h5>
              <p>07</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="jp_footer">
    <button ion-button class="jp_footer_btn" (click)="open_page('RidePage')">START RIDE<ion-icon name="arrow-forward"></ion-icon></button>
  </div>
</ion-footer>
