<ion-header class="nav_header theme_bgcolor">
  <button ion-button menuToggle class="nav_btn floatLeft nav_menu"></button>
  <div class="nav_header_title floatLeft">
    TRIP MAP
  </div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="jp_google_map">
    <div #map id="map"></div>
  </div>
</ion-content>
<ion-footer>
    <div class="jp_trip_ride_wrapper">
      <div class="jp_location_details">
        <h6><span><img src="assets/img/jp_location.png"></span>CURRENT LOCATION</h6>
        <h4>Majestic Central, Bengaluru</h4>
      </div>
      <div class="jp_passenger_details" (click)="open_page('PassengerPage')">
        <h4>PASSENGER DETAILS</h4>
      </div>
    <button ion-button class="jp_footer_end_btn">END RIDE</button>
  </div>
</ion-footer>
