
/*LOGIN-PAGE*/

.jp_login_wrapper{width:100%;height:100%;}
.jp_login_inner_wrapper{width:80%;margin:0 auto;height: 100%;padding-top:15%;}
.jp_logo{width:100%;text-align:center;}
.jp_logo img{width:170px;}
.jp_sign_form{width:100%;padding-top:15%;}
.jp_sign_row{padding-bottom:12px;}
.jp_sign_input{width:100%;height:40px;border:none;border-radius:5px;padding-left: 10px;padding-right: 10px;text-align: center;font-weight:300;font-size: 14px;}
.jp_sign_input::-webkit-input-placeholder {color:#aaaaaa;font-weight:300;}
.jp_sign_input::-moz-placeholder {color:#aaaaaa;font-weight:300;}
.jp_sign_input:-ms-input-placeholder {color:#aaaaaa;font-weight:300;}
.jp_sign_input:-moz-placeholder {color: #aaaaaa;font-weight:300;}
.jp_login_btn{width:100%;height:40px;border:none;border-radius:5px;text-align: center;background: #ff9000;color:#fff;font-size: 14px !important;font-weight: 600;}

/*HOME*/

.jp_home_wrapper{width:100%;}
.jp_bus_banner{width:100%;}
.jp_bus_banner h5{color:#747474;margin:0px;padding:0px;font-size: 20px;  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-bottom:2px;}
.jp_bus_banner p{color: #747474;margin:0px;padding:0px;  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px;font-weight: 300;}
.jp_bus_schedule{width:100%;border-bottom: 1px solid #d1d1d1;padding-bottom:20px;padding-top:20px;}
.jp_schedule_child{padding-right:20px;}
.jp_schedule_child h6{margin:0px;padding: 0px;color: #747474;font-size:12px;}
.jp_schedule_child h4{margin:0px;padding: 0px;color: #747474;font-size: 17px;font-weight: 500;padding-top:5px;padding-bottom: 3px;}
.jp_schedule_child p{margin:0px;padding: 0px;color: #747474;font-weight: 400;font-size: 16px;}
.jp_schedule_child_border{border-right:1px solid #d1d1d1;margin-right:20px;}
.jp_footer{width:100%;padding: 10px;}
.jp_footer_btn{width:100%;height:40px;border-radius: 20px;color: #fff;font-weight:500;background: #42ad21;font-size: 14px;}
.jp_footer_btn ion-icon{margin-left:10px;}
.jp_bus_travel_points{width:100%;border-bottom: 1px solid #d1d1d1;padding-top:20px;}
.jp_bus_travel_points li{list-style: none;width:100%;padding-bottom:20px;}
.jp_bus_travel_points li p{padding:0px;margin:0px;color:#747474;font-weight: 500;font-size: 13px;background-size: 60px !important;background-repeat: no-repeat !important;background-position:-25px !important;padding-left: 15px;}
.jp_bus_travel_points li h4{padding: 0px;margin:0px;color:#4a4a4a;font-weight: 400;padding-top: 5px;}
.jp_bus_travel_points .start p{background: url("../assets/img/jp_start.png");}
.jp_bus_travel_points .destination p{background: url("../assets/img/jp_dest.png");}
.jp_seating_status{width:100%;padding-top: 20px;padding-bottom: 20px;}
.jp_seat_box{border:1px solid #d1d1d1;text-align: center;padding: 5px;}
.jp_seat_box img{width:35px;}
.jp_seat_box h5{margin:0px;padding:0px;color: #747474;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.jp_seat_box p{margin:0px;padding:0px;color: #4a4a4a;padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*TRIP-MAP*/

.jp_google_map{width:100%;height:100%;}
.jp_google_map #map{width:100%;height:100%; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(99%);-webkit-backface-visibility: hidden;}
.jp_trip_ride_wrapper{width:100%;padding: 10px;background: #fff;height:210px;padding-top: 20px;}
.jp_location_details{width: 100%;border-bottom: 1px solid #d1d1d1;padding-bottom: 20px;padding-left: 10px;padding-right:10px;}
.jp_passenger_details{width: 100%;padding-bottom: 20px;padding-top: 20px;padding-left: 10px;padding-right:10px;background: url("../assets/img/jp_pass.png");background-repeat: no-repeat !important;background-position: right !important;background-size: 60px;}
.jp_location_details h6{margin:0px;padding:0px;color:#747474;font-size: 14px;padding-bottom: 10px;}
.jp_location_details h6 span{margin-right:10px;}
.jp_location_details h6 span img{width:15px;}
.jp_location_details h4{padding:0px;margin:0px;color:#4a4a4a;font-weight: 400;}
.jp_passenger_details h4{padding:0px;margin:0px;color:#4a4a4a;font-weight: 400;}
.jp_footer_end_btn{width:100%;height:40px;border-radius: 20px;color: #fff;font-weight:500;background:#d42e13;font-size: 14px;}

/*PASSENGER-DETAILS*/

.jp_passenger_details_wrapper{width:100%;}
.jp_passenger_details_wrapper ul{margin:0px;padding:0px;}
.jp_passenger_details_wrapper ul li{list-style: none;margin:0px;padding: 0px;width:100%;background: #f4f4f4;padding: 10px;margin-bottom:10px;box-shadow: 0px 5px 9px -5px #888888;}
.jp_passenger_top{width:100%;}
.jp_passenger_top h6{margin:0px;padding:0px;color: #747474;font-size: 10px;}
.jp_passenger_spec{padding-top:5px;}
.jp_passenger_circle{width:30px;height:30px;border-radius:50%;background-color:#ff9000;color: #fff;text-align: center;padding: 6px;font-weight:500;position: relative;top: 5px;}
.jp_passenger_circle img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.jp_passenger_name{color: #606060;padding: 10px;width: 35%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.jp_passenger_gender{color: #606060;padding: 10px;font-weight: 300;padding-left: 0px;}
.jp_passenger_seatno{color:#606060;padding: 10px;}

/*SIDE MENU */

.jp_sidemenu_wrapper{width:100%;padding: 30px;padding-top: 70px;padding-right:0px;}
.jp_profile_pic{width:100px;height:100px;border-radius:50%;background-color: #fbfaf3 !important;background: url("../assets/img/jp_profile.png");background-repeat: no-repeat !important;background-position:center !important;background-size: 60px;}
.jp_profile_pic img{width:100%;height:100%;border-radius:50%;object-position: center;object-fit: cover;}
.jp_sidemenu_wrapper h6{margin:0px;padding:0px;color: #fff;padding-top: 15px;text-transform: uppercase;}
.jp_sidemenu_wrapper p{margin:0px;padding:0px;color: #fff; padding-top: 5px;}
.jp_sidemenu_wrapper ul {padding:0px;margin:0px;padding-top: 40px;}
.jp_sidemenu_wrapper ul li{padding:0px;margin:0px;list-style: none;color: #fff;background-repeat: no-repeat !important;background-position: -15px !important;background-size: 55px !important;padding-left:30px;font-size: 17px;padding-top: 10px;padding-bottom: 10px;font-weight: 300;}
.jp_menu1{background: url("../assets/img/jp_home.png");}
.jp_menu2{background: url("../assets/img/jp_passenger.png");}
.jp_menu3{background: url("../assets/img/jp_revenue.png");}
.jp_menu4{background: url("../assets/img/jp_logout.png");}
