<ion-header class="nav_header theme_bgcolor">
  <button ion-button menuToggle class="nav_btn floatLeft nav_menu"></button>
  <div class="nav_header_title floatLeft">
    PASSENGER DETAILS
  </div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>
<ion-content padding>
  <div class="jp_passenger_details_wrapper">
    <ul>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">G</div>
          <div class="jp_passenger_name floatLeft">Gouthami Agulekshmi</div>
          <div class="jp_passenger_gender floatLeft">Male, 18 Yrs</div>
          <div class="jp_passenger_seatno floatRight">17</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">A</div>
          <div class="jp_passenger_name floatLeft">Ajay Srivasthava</div>
          <div class="jp_passenger_gender floatLeft">Male, 23 Yrs</div>
          <div class="jp_passenger_seatno floatRight">26</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">P</div>
          <div class="jp_passenger_name floatLeft">Preethi Zadolkhar</div>
          <div class="jp_passenger_gender floatLeft">Female, 20 Yrs</div>
          <div class="jp_passenger_seatno floatRight">14</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">A</div>
          <div class="jp_passenger_name floatLeft">Anurudha Patel</div>
          <div class="jp_passenger_gender floatLeft">Female, 25 Yrs</div>
          <div class="jp_passenger_seatno floatRight">21</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">D</div>
          <div class="jp_passenger_name floatLeft">Diya Sharma</div>
          <div class="jp_passenger_gender floatLeft">Female, 20 Yrs</div>
          <div class="jp_passenger_seatno floatRight">42</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">T</div>
          <div class="jp_passenger_name floatLeft">Tharun Vinayak</div>
          <div class="jp_passenger_gender floatLeft">Male, 28 Yrs</div>
          <div class="jp_passenger_seatno floatRight">35</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="jp_passenger_top">
          <h6 class="floatLeft">PASSENGER</h6>
          <h6 class="floatRight">SEAT NUMBER</h6>
          <div class="clear"></div>
        </div>
        <div class="jp_passenger_spec">
          <div class="jp_passenger_circle floatLeft">S</div>
          <div class="jp_passenger_name floatLeft">Sreepriyalekshmi Goswami</div>
          <div class="jp_passenger_gender floatLeft">Male, 25 Yrs</div>
          <div class="jp_passenger_seatno floatRight">36</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</ion-content>
