<ion-menu [content]="content">
  <ion-content class="theme_bgcolor">
    <div class="jp_sidemenu_wrapper">
      <div class="jp_profile_pic">
      </div>
      <h6>Ashuthosh Goyal</h6>
      <p>dummy@dummy.com</p>
      <ul>
        <li menuClose class="jp_menu1" (click)="open_page('HomePage')">Home</li>
        <li menuClose class="jp_menu2" (click)="open_page('PassengerPage')">Passenger Details</li>
        <li menuClose class="jp_menu3" (click)="open_page('HomePage')">Revenue</li>
        <li menuClose class="jp_menu4" (click)="open_page('LoginPage')">Logout</li>
      </ul>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
